#avatar_display_crop_button {
    flex: 0 0 auto;
}

#avatar_load_preview.avatar-display-crop-active {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.avatar-display-crop-active {
    display: block;
    object-fit: cover;
}
